@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

@layer base {
  body {
    @apply bg-white text-zinc-900 antialiased;
    font-feature-settings: "ss01", "ss03", "cv08", "cv11";
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Selection */
::selection {
  background: #09090b;
  color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
